* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url('../arquivos/imagens/fundo-madeira.jpg')top center/cover no-repeat fixed;
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-29%, -50%);

}

img {
    max-width: 50%;
}

iframe#tela {
    position: absolute;
    left: 4%;
    top: 13%;
    height: 100%;
    width: 85%;
}