*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body, html{
    background: linear-gradient(to top, #531C7E, #A92084) no-repeat;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    padding: 10px;
}
section{
    background: white;
    width: 250px;
    height: 400px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
    transition: all .5s;

}
section .imagem{
    display: block;
    background: url("../img/fundo.jpg") center center/ cover;
    height: 200px;
}
section .formulario{
    display: block;
    padding: 10px;
}
p{
    display: grid;
    place-items: center;
    font-weight: 600;
    font-variant: small-caps;
    cursor: context-menu;
}
span{
    cursor: context-menu;
}
input{
    border: none;
    outline: none;
    border-bottom-style: ridge;
    width: 100%;
    margin-top: 0.2em;
}
.botao{
    width: 100%;
    padding: 0.5em;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.521);
    background: transparent;
    margin: 10px 0 10px 0;
    font-weight: bold;
}
.botao:hover{
    border: none;
    background: #531C7E;
    color: white;
    cursor: pointer;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    font-size: 15px;
}

